body { background: #b4ecf1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-auth-0 { color: #e93010; font-size: 14px; margin-bottom: 5px; }
.block-email-1 { color: #24b731; font-size: 17px; margin-bottom: 5px; }
.block-cache-2 { color: #bd6bea; font-size: 12px; margin-bottom: 5px; }
.block-cache-3 { color: #c31a89; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #dd8887; font-size: 19px; margin-bottom: 5px; }
.block-sms-5 { color: #fd0664; font-size: 15px; margin-bottom: 5px; }
.block-cache-6 { color: #e3a1c5; font-size: 13px; margin-bottom: 5px; }
.block-auth-7 { color: #368a59; font-size: 16px; margin-bottom: 5px; }
.block-token-8 { color: #ffe53c; font-size: 15px; margin-bottom: 5px; }
.block-helper-9 { color: #814020; font-size: 18px; margin-bottom: 5px; }